ASPNETCORE_ENVIRONMENT=Development
TELEGRAM__BOTTOKEN=replace-with-token
TELEGRAM__WEBHOOKSECRET=development-secret
TELEGRAM__BASEPUBLICURL=https://localhost:8080
TELEGRAM__ROOMPATH=/rooms
REDIS_CONNECTION_STRING=clickband-redis:6379
ROOMS__DEFAULTTEMPOBPM=120
ROOMS__DEFAULTTIMESIGNATURE=4/4
ROOMS__TTL=06:00:00
ROOMS__MAXPARTICIPANTS=32
SYNCHRONIZATION__LEADTIMEMS=1500
SYNCHRONIZATION__MAXDRIFTMS=3
SYNCHRONIZATION__PINGSAMPLESIZE=5
